<!DOCTYPE html>
<html lang="en">

<!-- * Head -->
<%- include('modules/macro/head.ejs'); %>

<body>
    <!-- * Header -->
    <%- include('modules/macro/header.ejs'); %>

    <!-- * Main -->
    <main id="main" class="main">
        <section id="welcome-section" class="main--welcome main--section">
            <div id="welcome-msg" class="main--welcome--msg">
                <h1>Hey I am Mimic</h1>
                <h2>a web developer</h2>
            </div>
        </section>
        <section id="projects" class="main--projects main--section">
            <div class="main--projects--head">
                <h2>These are some of my projects</h2>
                <hr>
            </div>
            <div class="main--projects--body">
                <div class="main--projects--body--project-1 main--projects--body--project
                project-tile">
                    <a href="https://codepen.io/freeCodeCamp/full/zNqgVx" target="_blank">
                        <div class="main--projects--body--project--img"></div>
                        <div class="main--projects--body--project--title">
                            <div class="tile-quotes">&lt;</div>
                            <h3>Tribute Page</h3>
                            <div class="tile-quotes">/></div>
                        </div>
                    </a>
                </div>
                <div class="main--projects--body--project-2 main--projects--body--project
                project-tile">
                    <a href="https://codepen.io/freeCodeCamp/full/qRZeGZ" target="_blank">
                        <div class="main--projects--body--project--img"></div>
                        <div class="main--projects--body--project--title">
                            <div class="tile-quotes">&lt;</div>
                            <h3>Random Quote Machine</h3>
                            <div class="tile-quotes">/></div>
                        </div>
                    </a>
                </div>
                <div class="main--projects--body--project-3
                main--projects--body--project
                project-tile">
                    <a href="https://codepen.io/freeCodeCamp/full/wgGVVX" target="_blank">
                        <div class="main--projects--body--project--img"></div>
                        <div class="main--projects--body--project--title">
                            <div class="tile-quotes">&lt;</div>
                            <h3>JavaScript Calculator</h3>
                            <div class="tile-quotes">/></div>
                        </div>
                    </a>
                </div>
                <div class="main--projects--body--project-4
                main--projects--body--project
                project-tile">
                    <a href="https://codepen.io/freeCodeCamp/full/mVEJag" target="_blank">
                        <div class="main--projects--body--project--img"></div>
                        <div class="main--projects--body--project--title">
                            <div class="tile-quotes">&lt;</div>
                            <h3>Map Data Across the Globe</h3>
                            <div class="tile-quotes">/></div>
                        </div>
                    </a>
                </div>
                <div class="main--projects--body--project-5
                main--projects--body--project
                project-tile">
                    <a href="https://codepen.io/freeCodeCamp/full/wGqEga" target="_blank">
                        <div class="main--projects--body--project--img"></div>
                        <div class="main--projects--body--project--title">
                            <div class="tile-quotes">&lt;</div>
                            <h3>Wikipedia Viewer</h3>
                            <div class="tile-quotes">/></div>
                        </div>
                    </a>
                </div>
                <div class="main--projects--body--project-6
                main--projects--body--project
                project-tile">
                    <a href="https://codepen.io/freeCodeCamp/full/KzXQgy" target="_blank">
                        <div class="main--projects--body--project--img"></div>
                        <div class="main--projects--body--project--title">
                            <div class="tile-quotes">&lt;</div>
                            <h3>Tic Tac Toe Game</h3>
                            <div class="tile-quotes">/></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="main--projects--footer">
                <a href="https://codepen.io/FreeCodeCamp/" target="_blank">
                    <button id="more-projects-btn">Show all ></button>
                </a>
            </div>
        </section>
        <section id="contact" class="main--contact main--section">
            <div class="main--contact--wrapper">
                <div class="main--contact--head">
                    <h2>Let's work together...</h2>
                    <h3>How do you take your coffee?</h3>
                </div>
                <div class="main--contact--socials">
                    <a class="main--contact--socials--link" href="https://www.facebook.com/freecodecamp" target="_blank">
                        <i class="fab fa-facebook-square"></i>
                        <p>Facebook</p>
                    </a>
                    <a id="profile-link" class="main--contact--socials--link" href="https://github.com/kolehiyolo" target="_blank">
                        <i class="fab fa-github"></i>
                        <p>GitHub</p>
                    </a>
                    <a class="main--contact--socials--link" href="https://twitter.com/freecodecamp" target="_blank">
                        <i class="fab fa-twitter"></i>
                        <p>Twitter</p>
                    </a>
                    <a class="main--contact--socials--link" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank">
                        <i class="fas fa-at"></i>
                        <p>Send a mail</p>
                    </a>
                    <a class="main--contact--socials--link" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank">
                        <i class="fas fa-mobile-alt"></i>
                        <p>Call me</p>
                    </a>
                </div>
        </section>
        </div>
    </main>

    <!-- * Footer -->
    <%- include('modules/macro/footer.ejs'); %>

    <!-- * Attribution -->
    <%- include('modules/macro/attribution.ejs'); %>

    <!-- * Client-side Scripts -->
    <%- include('modules/macro/scripts.ejs'); %>
</body>

</html>